@model IEnumerable<issDMKSite.Models.Application>
@{
    ViewBag.Title = "Department";
}


<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />


<style>
    .dataTables_wrapper {
        position: relative;
        clear: both;
        padding: 2% !important;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col s1">
    </div>
    <div class="col s2">
        <label>  Select Department :</label>
        <select name="dpartment" id="dpartment" class="form-control col-xl-12">
            <option value="">-Select Department-</option>
            @foreach (var item in ViewBag.Department)
            {
                <option value="@item.Value">@item.Text </option>
            }
        </select>
    </div>
    <div class="col s2">
        <label>  Select Block :</label>
        <select name="block" id="Block" class="form-control col-xl-12">
            <option value="">-Select Block-</option>
            @foreach (var item in ViewBag.Area)
            {
                <option value="@item.Value">@item.Text </option>
            }
        </select>
    </div>
    <div class="col s2">
        <label>  Select Village :</label>
        <select name="village" id="Village" class="form-control col-xl-12">
            <option value="">-Select Village-</option>
            @foreach (var item in ViewBag.Village)
            {
                <option value="@item.Value">@item.Text </option>
            }
        </select>
    </div>

    <div class="col s2">
        <label>  From Date :</label>
        <input type="date" name="fromDate" class="form-control daterange-single" id="fromdate">
    </div>


    <div class="col s2">
        <label>  To Date :</label>
        <input type="date" class="form-control" name="toDate" format="dd-MM-yyyy" id="todate" />
    </div>
    <div class="col s2">
        <button class="btn waves-effect waves-light " id="btnsearch" style="float:inherit;margin-top:10%">
            Search
            <i class="material-icons right"></i>
        </button>
    </div>
</div>
}
<div class="col s10" style="margin:1%">
    <div class="card">
        <div id="material_wrapper" class="dataTables_wrapper" style="overflow: scroll;">
            <table style="width:100%" id="ComplainStatus">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>புகார் எண்</th>
                        <th>விண்ணப்பிக்கப்பட்ட தேதி</th>
                        <th>புகாரின் விவரங்கள்</th>
                        <th>தொகுதி எண்</th>
                        <th>பின்னூட்டம்</th>
                        <th>கருத்துகளை மதிப்பாய்வு செய்யவும்</th>
                        <th>நிலை</th>

                    </tr>
                </thead>
                <tbody id="tblComplainStatus">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.ComplainNo)</td>
                            @if (@item.Dateofapplied != null)
                            {
                                <td>
                                    @item.Dateofapplied.Value.ToShortDateString()
                                </td>
                            }
                            else
                            {
                                <td></td>}

                            <td>@Html.DisplayFor(modelItem => item.Detailofcomplain)</td>
                            <td>@Html.DisplayFor(modelItem => item.blockId)</td>
                            <td>@Html.DisplayFor(modelItem => item.Feedback)</td>
                            <td>@Html.DisplayFor(modelItem => item.ReviewComments)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>


                        </tr>
                    }
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
<script src="~/app-assets/js/custom/buttons.uikit.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js" defer></script>
<script src="~/app-assets/js/custom/datatables.uikit.min.js"></script>
<script src="~/app-assets/js/custom/common.js"></script>


<script>
    $(function () {
        $(document).ready(function () {
            $("#Department").change(function () {
                var name = $(this).find('option:selected').val();
                Block(name);
            })
        
            $("#Block").select2();
        $("#btnSearch").click(function () {
            var formatDate = $('#fromdate').val().split('/');
            var fromDate = formatDate[2] + "-" + formatDate[1] + "-" + formatDate[0];
            var formatToDate = $('#todate').val().split('/');
            var toDate = formatToDate[2] + "-" + formatToDate[1] + "-" + formatToDate[0];
            var c = document.getElementById("Block");
            var block = c.options[c.selectedIndex].value;
           
            Connsolidate(fromDate, toDate, block, dpartment);
            });
        });
    });
    $(document).ready(function () {
        $('#ComplainStatus').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    text: 'Pdf',
                    orientation: 'landscape',
                    autoPrint: true,
                    footer: true,
                    title: 'Department Report'

                },
                {
                    extend: 'print',
                    text: 'Print',
                    orientation: 'landscape',
                    autoPrint: true,
                    footer: true,
                    title: 'Department Report'
                },

                'csv', 'excel',
            ]

        });
    });
    function Block(name) {
        debugger
              $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Reports/Block")',
            dataType: 'json',
            data: { NAME: name },
            success: function (result) {
    
                var data = result;
               
                $("#Block").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#Block").append("<option value='" + data[i].id + "'>" + data[i].Block
                        + "</option>");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    };
    function Advance(fromDate, toDate, block, dpartment) {
        $("#tblComplainStatus").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Reports/Department")',
            dataType: 'json',
            data: { fromDate: fromDate, toDate: toDate, block: block, dpartment: dpartment  },


        });
    }


</script>



