<!DOCTYPE html>
<html lang="en-US">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129589205-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments) } gtag("js", new Date()); gtag("config", "UA-129589205-1");</script>
    <script>!function (h, a, i, c, j, d, g) { if (h.fbq) { return } j = h.fbq = function () { j.callMethod ? j.callMethod.apply(j, arguments) : j.queue.push(arguments) }; if (!h._fbq) { h._fbq = j } j.push = j; j.loaded = !0; j.version = "2.0"; j.queue = []; d = a.createElement(i); d.async = !0; d.src = c; g = a.getElementsByTagName(i)[0]; g.parentNode.insertBefore(d, g) }(window, document, "script", "../connect.facebook.net/en_US/fbevents.js"); fbq("init", "256570465289468"); fbq("track", "PageView");</script>
    <noscript>
        <img height=1 width=1 src="https://www.facebook.com/tr?id=256570465289468&amp;ev=PageView&amp;noscript=1" />
    </noscript>
    <title>Home - DMK</title>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/fav.png" type=image/x-icon />
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=Referrer-Policy value="no-referrer | same-origin" />
    <title>தலை நிமிரட்டும் தமிழ்நாடு! - DMK</title>
    <meta name="title" content="தலை நிமிரட்டும் தமிழ்நாடு!">
    <meta name="description" content="dmk">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dmk.in/">
    <meta property="og:title" content="தலை நிமிரட்டும் தமிழ்நாடு!">
    <meta property="og:description" content="dmk">
    <meta property="og:image" content="https://dmk.in/img/stalin-logo.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://dmk.in/">
    <meta property="twitter:title" content="தலை நிமிரட்டும் தமிழ்நாடு!">
    <meta property="twitter:description" content="dmk">
    <meta property="twitter:image" content="https://dmk.in/img/stalin-logo.jpg">
    <meta name=language content=English>
    @*<link rel=stylesheet href=~/assets/dmk.in/css/bootstrap.min.css>
        <link rel=stylesheet href=~/assets/dmk.in/css/owl.carousel.css>
        <link rel=stylesheet href=~/assets/dmk.in/css/owl.transitions.css>
        <link rel=stylesheet href=~/assets/dmk.in/css/font-awesome.css>
        <link rel=stylesheet href=~/assets/dmk.in/css/block.css>
        <link rel=stylesheet href="~/assets/dmk.in/css/customstylec3db.css?v=3.0">
        <link rel=stylesheet href=~/assets/dmk.in/css/magnific-popup.css>
        <link rel=stylesheet href=~/assets/dmk.in/css/jquery-gallery.css>*@

    <link href="~/assets/dmk.in/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/dmk.in/css/customstylec3db.css" rel="stylesheet" />
    <link href="~/assets/dmk.in/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/dmk.in/css/jquery-gallery.css" rel="stylesheet" />
    <link href="~/assets/dmk.in/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/dmk.in/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/dmk.in/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/assets/dmk.in/css/slick-theme.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href=@Url.Content("https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css")>


    <!-- <link rel=stylesheet href=https://dmk.in/css/bootstrap-datepicker.css> -->

    <link rel=stylesheet href=~/assets/dmk.in/css/slick-theme.css>
    <script src=@Url.Content("https://code.jquery.com/jquery-3.5.1.js")></script>
    <script src=@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")></script>
    <script src=@Url.Content("https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js")></script>



    <script src="~/assets/dmk.in/js/wow.js"></script>
    <script src="~/assets/dmk.in/js/bootstrap.min.js"></script>
    <script src="~/assets/dmk.in/js/commonc619.js"></script>
    <script src="~/assets/dmk.in/js/demo-main.js"></script>
    <script src="~/assets/dmk.in/js/easy-responsive-tabs.js"></script>
    <script src="~/assets/dmk.in/js/hammer.min.js"></script>
    <script src="~/assets/dmk.in/js/jquery-2.2.4.js"></script>
    <script src="~/assets/dmk.in/js/jquery-gallery.js"></script>
    <script src="~/assets/dmk.in/js/jquery.magnific-popup.js"></script>
    <script src="~/assets/dmk.in/js/jquery.min.js"></script>
    <script src="~/assets/dmk.in/js/jquery.scrollbar.js"></script>
    <script src="~/assets/dmk.in/js/owl.carousel.min.js"></script>
    <script src="~/assets/dmk.in/js/popper.min.js"></script>
    <script src="~/assets/dmk.in/js/slick.min.js"></script>
    <script src=~/assets/dmk.in/js/jquery.min.js></script>
    <script src=~/assets/dmk.in/js/popper.min.js></script>
    <script src=~/assets/dmk.in/js/bootstrap.min.js></script>
    <script src="/"></script>
    <script src="~/assets/dmk.in/joindmk/assets/js/bootstrap.min.js"></script>
    <!-- <script src=https://dmk.in/js/bootstrap-datepicker.min.js></script> -->
    <script src=~/assets/dmk.in/js/hammer.min.js></script>

    <script src="~/assets/dmk.in/js/owl.carousel.min.js"></script>
    <script src="~/assets/dmk.in/js/wow.js"></script>
    <script src="~/assets/dmk.in/js/jquery.scrollbar.js"></script>
    <script src="~/assets/dmk.in/js/jquery.magnific-popup.js"></script>

    <script src="~/assets/dmk.in/js/hammer.min.js"></script>
    <script src="~/assets/dmk.in/js/owl.carousel.min.js"></script>
    <script src="~/assets/dmk.in/js/wow.js"></script>
    <script src="~/assets/dmk.in/js/jquery.scrollbar.js"></script>
    <script src="~/assets/dmk.in/js/jquery.magnific-popup.js"></script>

    <script src="~/assets/dmk.in/js/jquery-gallery.js"></script>
    <script src="~/assets/dmk.in/js/demo-main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="~/assets/source/jquery.fancybox.pack8cbb.js?v=2.1.5"></script>
    <link rel=stylesheet href="~/assets/source/jquery.fancybox8cbb.css?v=2.1.5" />
    <link rel=stylesheet href="~/assets/source/helpers/jquery.fancybox-buttons3447.css?v=1.0.5" />
    <script src="~/assets/source/helpers/jquery.fancybox-buttons3447.js?v=1.0.5"></script>
    <link rel=stylesheet href="~/assets/source/helpers/jquery.fancybox-thumbsf2ad.css?v=1.0.7" />
    <script src="~/assets/source/helpers/jquery.fancybox-thumbsf2ad.js?v=1.0.7"></script>
    <script src="~/assets/source/helpers/jquery.fancybox-mediaf2ad.js?v=1.0.7"></script>
    <script src="~/assets/dmk.in/js/commonc619.js?v=1.0"></script>
    <script src="~/assets/dmk.in/js/easy-responsive-tabs.js"></script>
    <script src="~/assets/dmk.in/js/slick.min.js"></script>
    <script src="~/assets/dmk.in/js/wow.js"></script>
    <script src="~/assets/source/jquery.fancybox.pack8cbb.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .subnav {
            float: left;
            overflow: hidden;
        }

            .subnav .subnavbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .subnav:hover .subnavbtn {
                background-color: red;
            }

        .subnav-content {
            display: none;
            position: absolute;
            left: 0;
            background-color: red;
            width: 100%;
            z-index: 1;
        }

            .subnav-content a {
                float: left;
                color: white;
                text-decoration: none;
            }

                .subnav-content a:hover {
                    background-color: #eee;
                    color: black;
                }

        .subnav:hover .subnav-content {
            display: block;
        }
    </style>
    <style type=text/css>



        .kadammai {
            left: 0;
            bottom: 7px;
            font-size: 14px;
            z-index: 9999;
            width: 100%;
            height: auto;
            right: 0;
            opacity: 1;
            display: block;
            text-align: center;
            background: linear-gradient(to bottom, #000 0, #000 50%, #ff1c1b 51%, #ff1c1b 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Noto Sans Tamil UI', sans-serif;
            font-weight: 600;
            word-spacing: 15px;
        }

        .kadamaiJ {
            margin-top: 30px;
            left: 0;
            bottom: 7px;
            font-size: 14px;
            z-index: 9999;
            width: 100%;
            height: auto;
            right: 0;
            opacity: 1;
            display: block;
            text-align: center;
            background: linear-gradient(to bottom, #000 0, #000 50%, #ff1c1b 51%, #ff1c1b 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Noto Sans Tamil UI', sans-serif;
            font-weight: 600;
            word-spacing: 15px;
        }

        .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background-color: #e8de1d
        }

        .mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
            background-color: #a0a0a0
        }

        .lancham {
            color: #0c0c0c;
            line-height: 50px;
            font-family: 'Noto Sans Tamil', sans-serif;
            text-shadow: 2px 2px 2px #fff;
            position: absolute;
            color: #000;
            /*top: 35%;*/
            transform: translateY(-50%);
            left: 10%;
            font-size: 30px;
            font-weight: 600;
        }

        .necham {
            color: #ff1c1b;
            line-height: 50px;
            font-family: 'Noto Sans Tamil', sans-serif;
            position: absolute;
            /*top: 60%;
            transform: translateY(-50%);
            left: 10%;*/
            font-size: 30px;
            font-weight: 600;
        }

        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 600px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .name {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }

        .open_button {
            width: 32px;
            height: 32px;
            position: fixed;
            background: #fff;
            color: #000;
            right: 119px;
            top: 84px;
            border-radius: 50%;
            line-height: 20px;
            cursor: pointer;
            z-index: 9999994;
            border: 3px solid white;
        }

        #mainMenu li {
            display: block;
            float: left;
            background-color: red;
            width: 13%;
            padding: 1%;
            margin-left: 10px;
            border-radius: 5px;
        }

        #mainMenu a li {
            color: black;
            font-weight: bold;
        }

        #mainMenu li a {
            color: black;
            font-weight: bold;
        }

        #mainMenu li:hover {
            background-color: Highlight;
            font-weight: bold;
        }


        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
            height: 90px;
        }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 40px;
                text-decoration: none;
            }

        .subnav {
            float: left;
            overflow: hidden;
        }

            .subnav .subnavbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .subnav:hover .subnavbtn {
                background-color: red;
                width: 100%;
                height: 80%;
            }

        .subnav-content {
            display: none;
            position: absolute;
            left: 0;
            background-color: red;
            width: 100%;
            height: 100px;
            z-index: 1;
        }

            .subnav-content a {
                float: initial;
                color: white;
                text-decoration: none;
            }

                .subnav-content a:hover {
                    background-color: #eee;
                    color: black;
                }

        .subnav:hover .subnav-content {
            display: block;
        }

        .header_left {
            position: absolute;
            top: 5px;
            z-index: 1025;
            width: 86px;
            border: 3px solid #000;
            border-radius: 48%;
            height: 87px;
            margin-left: -101px;
        }


        nav {
            background-color: #ff1c1b;
        }

            nav ul {
                padding: 0;
                margin: 0;
                list-style: none;
                position: relative;
            }

                nav ul li {
                    display: inline-block;
                    background-color: #ff1c1b;
                }

            nav a {
                display: block;
                padding: 0 10px;
                color: #FFF;
                font-size: 20px;
                line-height: 60px;
                text-decoration: none;
            }

                nav a:hover {
                    background-color: #000;
                    color: #ff1c1b;
                    text-decoration: none;
                }

            nav ul ul {
                display: none;
                position: absolute;
                top: 60px;
            }

            nav ul li:hover > ul {
                display: inherit;
            }

            nav ul ul li {
                width: 230px;
                float: none;
                display: list-item;
                position: relative;
            }

            nav ul ul ul li {
                position: relative;
                top: -60px;
                left: 230px;
            }

            nav ul ul li {
                border: 1px solid white;
            }

        li > a:after {
            content: ' ▼';
        }

        li > a:only-child:after {
            content: '';
        }
    </style>

</head>


<body>

    <div class=top-header>

        <div class="container pos-rel">


            <div class="container pos-rel">

                <span class="kadammai" style="font-size: 21px">கடமை கண்ணியம் கட்டுப்பாடு</span>

            </div>

            <div class="dropdown lang">
                <span class="sitetitle sitetitle1" style="font-size: 42px">திராவிட முன்னேற்றக் கழகம் </span>
            </div>

            <div class="container pos-rel">

                <span class="kadamaiJ" style="font-size: 21px">ரிஷிவந்தியம் சட்டமன்ற தொகுதி </span>

            </div>

            <a href=index.html>
                <img src="~/assets/dmk.in/img/Image1.jpeg" class=header_left alt=header_left>
            </a>
            <a href=index.html>
                <img src="~/assets/img/stalin-logo.jpg" class=header_right alt=header_right>
            </a>

        </div>

    </div>

    <div class="quotes home_quotes clearfix" style="margin-top:0px;z-index:1024">

        <nav>
            <ul style="background-color: white;">

                <li><a href="~/Home/Index"> முகப்பு (Home)</a></li>


                @if (@issDMKSite.Custom.Display.Role == "")
                {
                    <li><a href="~/auth/Login"> Login (Admin)</a></li>
                }
                <li>
                    @if (@issDMKSite.Custom.Display.Role != "")
                    {
                        <a href="~/Applications/Index">மனுக்கள் </a>
                        <ul>
                            <li> <a href="~/Reports/Dashboard">Dashboard</a></li>
                        </ul>
                    }
                    else
                    {

                        <a href="~/Reports/UserLogin"> மனுவின் நிலையை அறிய</a>
                    }
                </li>
                @if (@issDMKSite.Custom.Display.Role == "")
                {
                    <li>
                        <a href="~/signUps/Create">புதிய மனு</a>
                    </li>
                }
                @if (@issDMKSite.Custom.Display.Role == "Admin")
                {
                    <li>
                        <a href="~/Users/Index">Users</a>

                    </li>
                    <li>
                        <a href="~/Departments/Index">Departments</a>
                    </li>


                    <li>
                        <a href="#">Reports</a>

                        <ul>
                            @*<li><a href="~/Reports/Area">Area</a></li>*@
                            <li><a href="~/Reports/ComplainStatus" style="text-align: center;">Status</a></li>
                            <li><a href="~/Reports/Department" style="text-align: center;">Department</a></li>
                        </ul>
                    </li>


                }

                <li style="float: right;">
                    @if (@issDMKSite.Custom.Display.Role != "")
                    {
                        <a href="~/Auth/LogOut">வெளியேறு </a>
                    }
                </li>
            </ul>
        </nav>
    </div>
    <marquee behavior="scroll" direction="left" scrollamount="8" style="background: content-box;font-size: initial">ரிஷிவந்தியம் சட்டமன்ற தொகுதி இணையவழி விண்ணப்பத்திற்கு உங்களை வரவேற்கின்றோம் </marquee>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @if (@issDMKSite.Custom.Display.Role == "User")
    {
        <p id="mo"></p>
    }
    <div class="quotes home_quotes clearfix" style="margin-top:0px"></div>




    <marquee behavior="scroll" direction="left" scrollamount="8" style="background: content-box;font-size: initial">ரிஷிவந்தியம் சட்டமன்ற தொகுதி இணையவழி விண்ணப்பத்திற்கு உங்களை வரவேற்கின்றோம் </marquee>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





    <div style="width: 13%;">
        <div id="google_translate_element"></div>

    </div>

    <div class="content">
        @RenderBody()
    </div>
    <div>

        <footer>
            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-8 col-sm-12">

                        <div class="row">


                            <div class="col-sm-3">
                                <h3 class="footer-menutitle" style="color:#ff0000"> அலுவலகம் </h3>
                                <ul class="list-unstyled list-footer">
                                    <li><a href="#">ரிஷிவந்தியம் சட்டமன்ற தொகுதி</a></li>
                                    <li><a href="#">கள்ளக்குறிச்சி மாவட்ட அலுவலகம்</a></li>
                                    <li><a href="#">கள்ளக்குறிச்சி</a></li>
                                    <li><a href="https://kalaignar.dmk.in" target="_blank"> கலைஞர் கருணாநிதி </a></li>

                                </ul>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-12">
                                <ul class="list-inline listmenu-bottm">
                                    <li class="list-inline-item"><a href="#"> தனியுரிமை கொள்கை </a></li>
                                    <li class="list-inline-item"><a href="#"> விதிமுறைகள் மற்றும் நிபந்தனைகள் </a></li>
                                    <li class="list-inline-item"><a href="#">தொடர்பு கொள்ள </a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank"> தள-வரைவு </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p class="copyright">Ⓒ 2021 Softline Solutions. All Rights Reserved.</p>
                        <!-- <p class=copyright>Designed & Developed by <a rel=noreferrer href=https://www.dotcominfoway.com/>Dot Com Infoway</a></p> -->
                    </div>
                </div>
            </div>
        </footer>

        @*@DateTime.Now.Year*@
    </div>



    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>


    <script>
        $(function () {
            $('#mo').text(sessionStorage.getItem("MobileNo"));
        });

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("Slideshow");
            var dots = document.getElementsByClassName("demo");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>


    <script>
        var myIndex = 0;
        carousel();
        $(function () {
            googleTranslateElementInit();
        });
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'english' }, 'google_translate_element');
        }

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
    </script>





    <script type="text/javascript">

        function DateConvertion(input) {
            var date = "";
            if (input != null) {
                var dateString = input.substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                date = day + "/" + month + "/" + year;
            }
            return date;
        }
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = '../connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>


</html>